adbc_driver_manager==1.3.0
adbc_driver_postgresql==1.3.0
adbc_driver_sqlite==1.3.0
aesara==2.9.4
aiohttp==3.11.7
amdsmi==6.2.4
anywidget==0.9.13
AppKit==0.2.8
array_api_strict==2.2
astropy==7.0.0
atheris==2.3.0
av==13.1.0
beautifulsoup4==4.12.3
bokeh==3.6.1
boto3==1.35.68
botocore==1.35.68
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.7.1
chardet==5.2.0
checks==0.2
cloud_tpu_client==0.10
ConfigParser==7.1.0
contextlib2==21.6.0
coremltools==8.1
cryptography==43.0.3
cudf==0.6.1.post1
Cython==3.0.11
dask_expr==1.1.19
defcon==0.10.3
defusedxml==0.7.1
dill==0.3.9
dl==0.1.0
docutils==0.21.2
duckdb==1.1.3
eth_hash==0.7.0
expecttest==0.2.1
fastparquet==2024.11.0
fbscribelogger==0.1.7
flax==0.10.2
flint==0.0.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freetype_py==2.5.1
gdown==5.2.0
gitdb_speedups==0.1.0
glyphsLib==6.9.5
gmpy2==2.2.1
google_api_python_client==2.154.0
h2==4.1.0
h5==0.9.3
HTMLParser==0.0.2
huggingface_hub==0.26.2
hypothesis==6.119.4
ibis==3.3.0
imagecodecs==2024.9.22
imagecorruptions==1.1.2
imageio_ffmpeg==0.5.1
importlib_resources==6.4.5
imread==0.7.6
ini2toml==0.15
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
isal==1.7.1
isoduration==20.11.0
itk==5.4.0
JPype1==1.5.1
jsonpointer==3.0.0
kerchunk==0.2.7
keyring==25.5.0
kubernetes==31.0.0
lmdb==1.5.1
lxml_html_clean==0.4.1
lz4==4.3.3
lzmaffi==0.3.0
matchpy==0.5.5
memory_profiler==0.61.0
mock==5.1.0
modin==0.32.0
monkeytype==23.3.0
moviepy==2.0.0
mpi4py==4.0.1
mtrand==0.1
multiset==3.2.0
munkres==1.1.4
mypy==1.13.0
numpy==1.23.3
numexpr==2.10.1
numpydoc==1.8.0
oauth2client==4.1.3
objgraph==3.6.2
odfpy==1.4.1
olefile==0.47
onnxscript==0.1.0.dev20241122
osgeo==0.0.1
paramiko==3.5.0
pillow_heif==0.20.0
pkg1==0.0.3
pkgutil_resolve_name==1.3.10
plotly==5.24.1
polars==1.14.0
pooch==1.8.2
portpicker==1.6.0
psutil==6.0.0
pyamg==5.2.1
pycares==4.4.0
pycocotools==2.0.8
pycosat==0.6.6
pycurl==7.45.3
pydot==3.0.2
pydot_ng==2.0.0
pydotplus==2.0.2
pydy==0.7.1
pygit2==1.16.0
pyglet==2.0.18
pygraphviz==1.14
PyInstaller==6.11.1
pyinstrument==5.0.0
pymc==5.18.2
pymc3==3.11.6
pynvml==11.5.3
pyOpenSSL==24.2.1
PyQt5==5.15.11
PyQt6==6.7.1
pysat==3.2.1
PySide6==6.8.0.2
pytest==8.3.3
pytest_fail_slow==0.6.0
pytest_timeout==2.3.1
python_calamine==0.3.1
pytidylib==0.3.2
pytorch_lightning==2.4.0
pyxlsb==1.0.10
QtPy==2.4.2
railroad==0.5.0
redis==5.2.0
reportlab==4.2.5
requests_kerberos==0.15.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.10.0
safetensors==0.4.5
sage==0.0.0
scikit_learn==1.5.2
scikits.talkbox==0.2.5
scipy_doctest==1.4
selenium==4.26.1
setuptools_scm==8.1.0
shiboken2==5.15.2.1
shiboken6==6.8.0.2
SimpleITK==2.4.0
simplejson==3.19.3
sip==6.8.6
slack_sdk==3.33.4
smbprotocol==1.15.0
sniffio==1.3.1
snowflake==1.0.2
Sphinx==8.1.3
sphinx_gallery==0.18.0
SQLAlchemy==2.0.36
symengine==0.13.0
tabulate==0.9.0
tblib==3.0.0
tensorboard_plugin_profile==2.18.0
tensorboard_plugin_wit==1.8.1
tensorflow_io==0.37.1
tensorflow_io_gcs_filesystem==0.37.1
tf_keras==2.18.0
tflite_runtime==2.14.0
thread==2.0.5
threadpoolctl==3.5.0
tomli_w==1.1.0
torch_xla==2.5.1
torcharrow==0.1.0
torchaudio==2.5.1
torchrec==1.0.0
traitlets==5.14.3
trio==0.27.0
trove_classifiers==2024.10.21.16
ufoLib2==0.17.0
uharfbuzz==0.42.0
ujson==5.10.0
unicodedata2==15.1.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
vegafusion==1.6.9
webcolors==24.11.1
xarray==2024.11.0
xattr==1.1.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==3.3.2
yarl==1.18.0
z3==0.2.0
zarr==2.18.3
zopfli==0.2.3.post1
zstandard==0.23.0
zstd==1.5.5.1
